name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        compiler: [gcc]
        exclude:
          - os: windows-latest
            compiler: gcc
        include:
#          - os: windows-latest
#            compiler: msvc
          - os: windows-latest
            compiler: clang-cl
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up MSVC (Windows)
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Build library
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Windows" ]; then
          export CC=clang-cl
        fi
        make lib
    
    - name: Build and run tests
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Windows" ]; then
          export CC=clang-cl
        fi
        make test
